In [ ]:
#from google.colab import files

In [ ]:
#uploaded = files.upload()

In [ ]:
import pandas as pd

In [ ]:
#df = pd.read_csv('my_dataframe.csv')

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Azzziii/Rubikamp-Data-Science-Course/main/my_dataframe.csv')

In [ ]:
df

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,Senior Data Scientist,111 - 181 (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,1,"Data Scientist, Product Analytics",111 - 181 (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,2,Data Science Manager,111 - 181 (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,3,Data Analyst,111 - 181 (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,4,"Director, Data Science",111 - 181 (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
5495,5881,Information Scientist,38 - 64 (Glassdoor est.),3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
5496,5882,Supervisory Research Health Scientist,47 - 89 (Glassdoor est.),4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5497,5883,Senior SAS Programmer (Scientist),66 - 113 (Glassdoor est.),4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5498,5886,Senior Data Analyst - Product Analytics (open ...,67 - 111 (Glassdoor est.),4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5499,5887,Manufacturing Data Analyst Engineer,42 - 76 (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable

In [ ]:
df['Salary Estimate'][0].split()

['111', '-', '181', '(Glassdoor', 'est.)']

In [ ]:
df['Salary Estimate'][0].split()[2]

'181'

In [ ]:
def splitter(a):
  a = a.split()
  return(a)

In [ ]:
df['Salary Estimate']

0         111 - 181  (Glassdoor est.)
1         111 - 181  (Glassdoor est.)
2         111 - 181  (Glassdoor est.)
3         111 - 181  (Glassdoor est.)
4         111 - 181  (Glassdoor est.)
                    ...
5495      38  -  64  (Glassdoor est.)
5496      47  -  89  (Glassdoor est.)
5497     66  -  113  (Glassdoor est.)
5498     67  -  111  (Glassdoor est.)
5499      42  -  76  (Glassdoor est.)
Name: Salary Estimate, Length: 5500, dtype: object

In [ ]:
df['Salary Estimate'].apply(splitter)

0       [111, -, 181, (Glassdoor, est.)]
1       [111, -, 181, (Glassdoor, est.)]
2       [111, -, 181, (Glassdoor, est.)]
3       [111, -, 181, (Glassdoor, est.)]
4       [111, -, 181, (Glassdoor, est.)]
                      ...
5495      [38, -, 64, (Glassdoor, est.)]
5496      [47, -, 89, (Glassdoor, est.)]
5497     [66, -, 113, (Glassdoor, est.)]
5498     [67, -, 111, (Glassdoor, est.)]
5499      [42, -, 76, (Glassdoor, est.)]
Name: Salary Estimate, Length: 5500, dtype: object

In [ ]:
df['Salary Estimate'] = df['Salary Estimate'].apply(splitter)

In [ ]:
df

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,Senior Data Scientist,"[111, -, 181, (Glassdoor, est.)]",3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,1,"Data Scientist, Product Analytics","[111, -, 181, (Glassdoor, est.)]",4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,2,Data Science Manager,"[111, -, 181, (Glassdoor, est.)]",-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,3,Data Analyst,"[111, -, 181, (Glassdoor, est.)]",3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,4,"Director, Data Science","[111, -, 181, (Glassdoor, est.)]",3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
5495,5881,Information Scientist,"[38, -, 64, (Glassdoor, est.)]",3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
5496,5882,Supervisory Research Health Scientist,"[47, -, 89, (Glassdoor, est.)]",4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5497,5883,Senior SAS Programmer (Scientist),"[66, -, 113, (Glassdoor, est.)]",4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5498,5886,Senior Data Analyst - Product Analytics (open ...,"[67, -, 111, (Glassdoor, est.)]",4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5499,5887,Manufacturing Data Analyst Engineer,"[42, -, 76, (Glassdoor, est.)]",3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable

In [ ]:
def min_finder (a):
  a = a[0]
  return(a)

In [ ]:
df['Salary Estimate'].apply(min_finder)

0       111
1       111
2       111
3       111
4       111
       ...
5495     38
5496     47
5497     66
5498     67
5499     42
Name: Salary Estimate, Length: 5500, dtype: object

In [ ]:
df['Min_salary'] = df['Salary Estimate'].apply(min_finder)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5500 non-null   int64
 1   Job Title          5500 non-null   object
 2   Salary Estimate    5500 non-null   object
 3   Rating             5500 non-null   float64
 4   Company Name       5500 non-null   object
 5   Location           5500 non-null   object
 6   Size               5500 non-null   object
 7   Founded            5500 non-null   object
 8   Type of ownership  5500 non-null   object
 9   Industry           5500 non-null   object
 10  Sector             5500 non-null   object
 11  Revenue            5500 non-null   object
 12  Min_salary         5500 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 558.7+ KB

In [ ]:
def max_finder(a):
  a = a[2]
  return(a)

In [ ]:
df['Max_salary'] = df['Salary Estimate'].apply(max_finder)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5500 non-null   int64
 1   Job Title          5500 non-null   object
 2   Salary Estimate    5500 non-null   object
 3   Rating             5500 non-null   float64
 4   Company Name       5500 non-null   object
 5   Location           5500 non-null   object
 6   Size               5500 non-null   object
 7   Founded            5500 non-null   object
 8   Type of ownership  5500 non-null   object
 9   Industry           5500 non-null   object
 10  Sector             5500 non-null   object
 11  Revenue            5500 non-null   object
 12  Min_salary         5500 non-null   object
 13  Max_salary         5500 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 601.7+ KB

In [ ]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Rating', 'Company Name',
       'Location', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Min_salary', 'Max_salary'],
      dtype='object')

In [ ]:
df.shape

(5500, 14)

In [ ]:
df.head(3)

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Min_salary,Max_salary
0,0,Senior Data Scientist,"[111, -, 181, (Glassdoor, est.)]",3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,111,181
1,1,"Data Scientist, Product Analytics","[111, -, 181, (Glassdoor, est.)]",4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,111,181
2,2,Data Science Manager,"[111, -, 181, (Glassdoor, est.)]",-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,111,181

In [ ]:
df['Min_salary'].astype(int)

0       111
1       111
2       111
3       111
4       111
       ...
5495     38
5496     47
5497     66
5498     67
5499     42
Name: Min_salary, Length: 5500, dtype: int64

In [ ]:
df['Min_salary'] = df['Min_salary'].astype(int)
df['Max_salary'] = df['Max_salary'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5500 non-null   int64
 1   Job Title          5500 non-null   object
 2   Salary Estimate    5500 non-null   object
 3   Rating             5500 non-null   float64
 4   Company Name       5500 non-null   object
 5   Location           5500 non-null   object
 6   Size               5500 non-null   object
 7   Founded            5500 non-null   object
 8   Type of ownership  5500 non-null   object
 9   Industry           5500 non-null   object
 10  Sector             5500 non-null   object
 11  Revenue            5500 non-null   object
 12  Min_salary         5500 non-null   int64
 13  Max_salary         5500 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 601.7+ KB

In [ ]:
df['Average_salary'] = (df['Min_salary'] + df['Max_salary'])/2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5500 non-null   int64
 1   Job Title          5500 non-null   object
 2   Salary Estimate    5500 non-null   object
 3   Rating             5500 non-null   float64
 4   Company Name       5500 non-null   object
 5   Location           5500 non-null   object
 6   Size               5500 non-null   object
 7   Founded            5500 non-null   object
 8   Type of ownership  5500 non-null   object
 9   Industry           5500 non-null   object
 10  Sector             5500 non-null   object
 11  Revenue            5500 non-null   object
 12  Min_salary         5500 non-null   int64
 13  Max_salary         5500 non-null   int64
 14  Average_salary     5500 non-null   float64
dtypes: float64(2), int64(3), object(10)
memory usage: 644.7+ KB

In [ ]:
df['Location'].value_counts()

Austin, TX          345
Chicago, IL         333
San Diego, CA       327
New York, NY        303
Los Angeles, CA     229
                   ...
Redlands, CA          1
Ladera Ranch, CA      1
Greenbelt, MD         1
Lanham, MD            1
Euclid, OH            1
Name: Location, Length: 501, dtype: int64

In [ ]:
df['Location'][0]

'New York, NY'

In [ ]:
df['Location'][0].split()[2]

'NY'

In [ ]:
df['Location'][0].split()[-1]

'NY'

In [ ]:
df['Location'][409]

'Burbank, CA'

In [ ]:
df['Location'][409].split()

['Burbank,', 'CA']

In [ ]:
df['Location'][409].split()[-1]

'CA'

In [ ]:
def state(a):
  a= a.split()
  a = a[-1]
  return(a)

In [ ]:
state(df['Location'][1500])

'AZ'

In [ ]:
df['Location'][1500]

'Tempe, AZ'

In [ ]:
df['State'] = df['Location'].apply(state)

In [ ]:
df['State']

0       NY
1       NY
2       NY
3       NJ
4       NY
        ..
5495    OH
5496    OH
5497    OH
5498    OH
5499    OH
Name: State, Length: 5500, dtype: object

In [ ]:
df['State'].value_counts()

CA         1311
TX         1243
OH          408
IL          368
PA          324
NY          313
AZ          297
FL          261
MA          239
NJ          232
MI          203
VA          131
DC           85
MD           61
DE           10
Kingdom       4
WI            3
GA            1
ME            1
KY            1
NM            1
NH            1
IN            1
NC            1
Name: State, dtype: int64

In [ ]:
df = df[df['State'] != 'Kingdom']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5496 entries, 0 to 5499
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5496 non-null   int64
 1   Job Title          5496 non-null   object
 2   Salary Estimate    5496 non-null   object
 3   Rating             5496 non-null   float64
 4   Company Name       5496 non-null   object
 5   Location           5496 non-null   object
 6   Size               5496 non-null   object
 7   Founded            5496 non-null   object
 8   Type of ownership  5496 non-null   object
 9   Industry           5496 non-null   object
 10  Sector             5496 non-null   object
 11  Revenue            5496 non-null   object
 12  Min_salary         5496 non-null   int64
 13  Max_salary         5496 non-null   int64
 14  Average_salary     5496 non-null   float64
 15  State              5496 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 729.9+ KB

In [ ]:
set(df['Rating'])

{-1.0,
 1.0,
 1.5,
 1.6,
 1.7,
 1.8,
 1.9,
 2.0,
 2.1,
 2.2,
 2.3,
 2.4,
 2.5,
 2.6,
 2.7,
 2.8,
 2.9,
 3.0,
 3.1,
 3.2,
 3.3,
 3.4,
 3.5,
 3.6,
 3.7,
 3.8,
 3.9,
 4.0,
 4.1,
 4.2,
 4.3,
 4.4,
 4.5,
 4.6,
 4.7,
 4.8,
 4.9,
 5.0}

In [ ]:
#df['Rating'].unique()

In [ ]:
#df['Rating'].value_counts()

In [ ]:
df[df['Rating']!= -1]

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Min_salary,Max_salary,Average_salary,State
0,0,Senior Data Scientist,"[111, -, 181, (Glassdoor, est.)]",3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,111,181,146.0,NY
1,1,"Data Scientist, Product Analytics","[111, -, 181, (Glassdoor, est.)]",4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,111,181,146.0,NY
3,3,Data Analyst,"[111, -, 181, (Glassdoor, est.)]",3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,111,181,146.0,NJ
4,4,"Director, Data Science","[111, -, 181, (Glassdoor, est.)]",3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,111,181,146.0,NY
5,5,Data Scientist,"[111, -, 181, (Glassdoor, est.)]",2.9,IFG Companies\n2.9,"New York, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,111,181,146.0,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,5881,Information Scientist,"[38, -, 64, (Glassdoor, est.)]",3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),38,64,51.0,OH
5496,5882,Supervisory Research Health Scientist,"[47, -, 89, (Glassdoor, est.)]",4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable,47,89,68.0,OH
5497,5883,Senior SAS Programmer (Scientist),"[66, -, 113, (Glassdoor, est.)]",4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,66,113,89.5,OH
5498,5886,Senior Data Analyst - Product Analytics (open ...,"[67, -, 111, (Glassdoor, est.)]",4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),67,111,89.0,OH
5499,5887,Manufacturing Data Analyst Engineer,"[42, -, 76, (Glassdoor, est.)]",3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable,42,76,59.0,OH

In [ ]:
df = df[df['Rating']!= -1]

In [ ]:
df['Job Title'].value_counts()

Data Scientist                                                   530
Data Analyst                                                     296
Data Engineer                                                    267
Senior Data Scientist                                            117
Machine Learning Engineer                                         55
                                                                ...
Data Scientist - Top Secret w/ SCI Eligibility                     1
Business Intelligence Analyst I                                    1
Business Intelligence Analyst Senior (Chief Financial Office)      1
Business Intelligence Analyst III - Credit Card                    1
Manufacturing Data Analyst Engineer                                1
Name: Job Title, Length: 2552, dtype: int64

In [ ]:
set(df['Job Title'])

{'Data Scientist, Portfolio & Data Insights',
 'Data Architect - Azure',
 'In Vivo Principal Scientist',
 'Video Codec Scientist',
 'Power & Performance Data Engineer',
 'Data Scientist II - Cell & Gene Therapy',
 'Data Engineer - Brand Program',
 'Data Scientist, part-time',
 'Senior SW Engineer, Data Science ( Kubernetes/ Docker ) Remote USA',
 'Data Analyst Manager',
 'Senior Associate Data Science & Analytics',
 'Machine Learning Data Scientist',
 'Federal - Data Scientist ++++++++++++++',
 'Maps Search Machine Learning Engineer',
 'Data Engineer/Tableau/Alteryx',
 'Data Scientist, Visualization and Analytics',
 'Clinical Data Scientist',
 'Clinical Scientist, Vaccines',
 'Data Visualization and Analytics Consultant',
 'Data Scientist, Primary Research (Disney Streaming Services)',
 'Data Scientist, Customer Intelligence - Opportunity for Working Remotely Detroit, MI',
 'Research Scientist - Machine Learning',
 'Senior Data Scientist, Live Ops Analytics',
 'Senior Healthcare Data Analyst - Multiple Positions',
 'Data Analyst - Logistics',
 'Forensic Genomics Research Scientist',
 'Sr. Data Engineer with Strong Python',
 'Director, Strategic Research Data Science',
 'SQL Developer/Data Analyst',
 'Data Analyst Senior',
 'Associate Educator, Data Scientist',
 'COMPUTER SCIENTIST - ENGINEER - RESEARCH ENGINEER - ELECTRICAL SYSTEMS',
 'Business and Customer Data Analyst',
 'Federal - Data Scientist',
 'Sr. Data Scientist - Deep Learning',
 'Data Scientist; Acurian (A PPD Company)',
 'Data Science and Analytics',
 'Senior Consulting Data Analyst',
 'CCB F&BM - Quantitative Modeling/Data Science Associate',
 'Big Data / Hadoop Engineer',
 'Junior Machine Learning Engineer',
 'Senior Data Scientist - Ads Analytics / Machine Learning',
 'Senior Data Modeler/Ontologist, Knowledge Base',
 'Data Modeler',
 'Informatica IDQ - Data Engineer II',
 'Senior Scientist/Engineer, Early Stage Process Development',
 'Data Analyst (Python), Dallas, Methods+Mastery (a FleishmanHillard Company)',
 'Research Data Scientist, Mid',
 'Data Scientist Technical Lead',
 'Data Engineer - HBO Max',
 'Senior Customer Data Analyst : 20',
 'Mesa Data Science Tutor Jobs',
 'Associate Scientist / Senior Research Associate, Cancer Immunotherapy',
 'Data Analyst II',
 'Medical Lab Scientist (MLS) 2:00pm-10:30pm',
 'Program Manager (TTI Associate Research Scientist)',
 'Biomedical Laboratory Scientist',
 'Data Engineer (Snowflake Production)',
 'Sr. Fraud Risk Quantitative Analyst',
 'Staff Scientist',
 'Data Scientist/Python Developer',
 'Glendale Data Science Tutor Jobs',
 'CIMD Technology - Data Engineer',
 'Application Vulnerability Governance Lead Data Analyst',
 'Cloud Data Engineer Internship (Remote)',
 'Machine Learning Engineer, Mapping',
 'Data Scientist Sr. Associate - SALES SCIENCE',
 'Data Engineer',
 'JPSC-7975 - Data Analyst Lead- Columbus, OH (LOCAL CANDIDATES ONLY)',
 'Data Analyst / Developer',
 'Data Engineer (Python and SQL)',
 'Sr. Data Scientist II',
 'Machine Learning Engineer - Think Tank Team',
 'RD Scientist, Cellular Manufacturing',
 'Deep Learning Research Scientist / Engineer (Deep Learning & Algorithms)',
 'NGSE Data Science Lead',
 'GENERAL PHYSICAL SCIENTIST',
 'SENIOR DATA SCIENTIST',
 'Python Data Engineer/Developer (9-15 yrs)',
 'Staff Data Scientist - CGM Analytics',
 'Data Scientist - Forecasting',
 'Big Data/Machine Learning Engineer - Sr',
 'Epidemiologist/Associate Data Scientist– Dept of Ophthalmology',
 'Data Scientist for Corporate Finance',
 'Algorithm Design and Analysis Engineering Scientist',
 'Sample Management Scientist',
 'Data Analyst – Energy Conservation Measure (ECM) Program',
 'Scientist - HLA Laboratory',
 'Clinical Laboratory Scientist - Data Review',
 'Principal Data Engineering Architect - Data Pipelines',
 'Healthcare Analyst / Healthcare Data Analyst',
 'People Analytics Data Scientist',
 'Data Analyst, Product',
 'AI/ML - Data Engineer, Siri Data',
 'Data Analyst, Military Forecasting',
 'Applied Scientist, Machine Learning (BK or SF)',
 'Staff Machine Learning Engineer - Core Algorithms',
 'Senior Decision Scientist-',
 'Web Analytics Manager',
 'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR OKLAHOMA CITY, OKLAHOMA',
 'Scientist, Cellular Reprogramming and Engineering',
 'Data Scientist/Programmer, Sr. Analyst - Abbott Nutrition - Columbus, OH',
 'Clinical Scientist Associate Director',
 'Scientist, CAR-T',
 'Big Data Engineer (TX)',
 'Data Scientist – Attribute Sciences Data Engineering',
 'Remote work - Data Scientist with background in Epidemiology',
 'COMPUTER SCIENTIST - ENGINEER - RESEARCH ENGINEER - CYBER-PHYSICAL SYSTEMS',
 'Data Engineer - Relocate to Washington D.C.',
 'Data Analyst Equities',
 'Electronics Engineering Scientist',
 'Sr. IoT Data Scientist - AWS Professional Services',
 'Senior Fulfillment and Customer Promise Data Scientist ',
 'Scientist - Ocular',
 'Data Scientist, Consultant',
 'Senior Data Analyst, Insights & Analytics Team [Customer Operations]',
 'Data Scientist, PhD University Graduate, 2020 Start',
 'Autonomous Driving Data Engineer/Scientist',
 'Sourcing Data Analyst VPC',
 'Data Scientist – Advanced Process Control',
 'Project Environmental Engineer / Scientist',
 'Columbus Data Science Tutor Jobs',
 'Principal Data Scientist Artificial Intelligence Machine Learning Scientist - Financial Advice',
 'Customer Data Analyst',
 'Sr. Data Scientist, Database Marketing',
 'Future Opportunity: Data Engineer',
 'Data Analytics Manager in Jacksonville, FL at One Call',
 'Associate Scientist, Quality Control',
 'Data Analyst, Reporting',
 '#NAME?',
 'ETL/Data Engineer I (datastage)',
 'Postdoctoral Scientist - Guarnerio Lab - Cedars-Sinai Cancer',
 'Retention Data Scientist',
 'Research Scientist 1 (Safety Pharmacology)',
 'Product Data Analyst',
 'Senior Scientist, Assay Operations',
 'Dell Data Scientist/AI developer',
 'Quantitative Analyst - Product Design',
 'Data Analyst - VerityStream',
 'Data Engineer - Talent Pool',
 'Data Modeler / Data Architect',
 'Data Scientist, Analytics Architecture',
 'Principal Data Scientist-Developer Experience (SDK, CLI, Developer Services (Join OCI-SDE)',
 'Real World Science, Data Scientist',
 'Senior Scientist – Immunotherapeutic Design',
 'Post Doctoral Scientist Year 1-3 RI Mathematical Med Das',
 'Scientist - Autonomous Robotics in Manufacturing',
 'Data Scientist, Networking',
 'Experienced Data Engineer',
 'Software Engineer - Data Engineering, Finance Products',
 'Machine Learning Engineer - Computer Vision',
 'Data Engineer Hadoop',
 'Clinical Laboratory Scientist - Hematology',
 'Big Data Engineer/Admin',
 'Medical Laboratory Scientist - Nights',
 'Business Intelligence Analytics Manager',
 'Machine Learning & Data Engineer (Remote)',
 'CPU Performance –Sr Principal Modeling Engineer',
 'Data Engineer-2',
 'XYZ Data Analyst',
 'Dairy Data Scientist and Quantitative Geneticist',
 'Field Applications Scientist, CA',
 'MS&T Scientist I',
 'Data Analyst, Product Insights',
 'Data Scientist *',
 'Sr Snowflake Data Engineer',
 'Environmental Scientist/Engineer (Jr. Level)',
 'Data Engineer *',
 'NGS Scientist',
 'Senior Data Engineer - Core Data Science & Engineering',
 'NLP Machine Learning Engineer',
 'Data Scientist - Corporate Data & Analytics',
 'Scientist - Bioanalytical Assays',
 'Business Intelligence Analyst II (6 Month Contract)',
 'Exciting Video Ecommerce Startup | Data Scientist w/ ACR Experience (ACR, MongoDB, Node.js, Python ) | $120-150K',
 'Gilbert Data Science Tutor Jobs',
 'Scientist - Cell Culture Development',
 'Pipeline Integrity - Data Scientist',
 'Data Scientist (Labs)',
 '(Project Staff) Consultant, Data Engineer',
 'Data Scientist II, PV Performance',
 'Senior Scientist, Biochemistry/Bioconjugation',
 'Attending Veterinarian / Principal Scientist',
 'ANALYST - ENGINEER - SCIENTIST - ACOUSTICS',
 'Director, Data Science (LA, NY or SF)',
 'COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
 'Data Modeler Architect',
 'Purification Scientist, Downstream Protein Manufacturing',
 'DATA ENGINEER - DALLAS',
 'Principal Data Scientist / Sr. Principal Data Scientist',
 'Lead Data Engineer',
 'QC Associate Scientist',
 'RSCH DATA ANALYST I BIOINFORMATICS',
 'Senior Data Analyst - Top Secret required',
 'Air Compliance Engineer/Scientist (Mid to Senior)',
 'Data Scientist Risk Analyst',
 'Junior Data Analyst - SQL Programmer',
 'Medical Lab Scientist (MLS)',
 'Associate Scientist (2nd shift)',
 'PhD or Senior Data Scientist - - Healthcare Data Analytics',
 'Sr. Data Analyst - Guidewire Data Hub',
 'Data Scientist/Engineer',
 'Research Scientist-Protein Biochemistry',
 'JPSC-6455 - Big Data Engineer with HL7 Healthcare/Python',
 'Data Scientist, Finance',
 'Senior Data Scientist *',
 'Seat Services Data Analyst (Fayetteville)',
 'Data Scientist Principal',
 'Research Scientist I, Medicinal Chemistry',
 'RAPD Risk Platforms & Data - Analyst',
 'Data Analyst Assistant',
 'Program Finance & Data Analyst',
 'Epidemiology Data Analyst',
 'Marketing Data Scientist',
 'Research Scientist - Biopharm cGMP Reports, and Regulatory Documentation',
 'Data Engineer - Outcomes Research',
 'Research Scientist / Engineer – Wireless Communications & Machine Learning',
 'Senior Scientist, Process Science - Analytical Sciences',
 'Data Science Consultant',
 'Lead Quality Data Analyst',
 'COMPUTER SCIENTIST',
 'Analytic Consultant 5 - Consumer Collections & Servicing Analytics',
 'DATA ENGINEER',
 'Data Scientist - Top Secret w/ SCI Eligibility',
 'Enterprise Data Engineer',
 'Sr. Computational Biologist, Immuno-Oncology',
 'Entry Level Data Scientist',
 'Tutor or Teacher - Data Science',
 'Sr. Tech Svc Scientist (I)',
 'Technical Associate I/Data Scientist, Fraenkel Lab',
 'RESEARCH COMPUTER SCIENTIST - SR. COMPUTER SCIENTIST - SIGNAL PROCESSING',
 'Data Scientist, Personalization',
 'Scientist 2, Biology',
 'Principal Scientist, Analytical Chemistry',
 'Business Facing Data Analyst',
 'Data Engineer- Python',
 'Post-Doctoral Magnetic Resonance Research Scientist',
 'Senior Scientist, Computational Biology',
 'Data Scientist - Consultant',
 'Data Scientist Senior or Lead',
 'Omnichannel Marketing Data Analyst',
 'Aquatic Scientist',
 'Value Based Analytics - Data Analytics Consultant',
 'Analyst II/Assistant Director, Data Science',
 'Learning and Development Business Intelligence Analyst',
 'Data & ML Engineer - Nationwide Opportunities',
 'Deep Learning Data Scientist',
 'Data Scientist - Weather Data',
 'Clinical Laboratory Scientist Team Lead',
 'Sr. Big Data Engineer',
 'Data Scientist Boston',
 'Remote Senior Software Engineer, Data',
 'Jr. Big Data Engineer',
 'Senior Scientist - Immunotherapeutic Design',
 'Supply Chain Data Analyst',
 'Data Engineer - Cognitive Computing',
 'Master Data Analyst I',
 'Lead Data Engineer (ASE6) -Asset and Liability Technology Wells Fargo Corporate Treasury',
 'Data Engineer _ Chicago, IL || 06+ Months Contract',
 'Data Academy Lead (Business Intelligence Analyst/Developer)',
 'Associate- Data Engineer',
 'Senior Scientist-UV Coatings',
 'Manufacturing Science and Technology (MS&T) Scientist',
 'AI/ML - Machine Learning Scientist, Siri Understanding',
 'Data Engineer - Guidewire Data Hub',
 'Research Engineer – Virtual Vehicle Prototypes – Data Analytics',
 'Environmental Scientist -- Part Time Entry Level',
 'Scientist, Analytical Outsource Stability',
 'Data Management & Analysis SME / Data Scientist',
 'Operation Analytics Manager',
 'Recruiting Manager, Data Science',
 'Research Scientist, USC Schaeffer Center',
 'Research Scientist-Medicinal Chemistry',
 'Physician - Pediatric Pulmonology and Research Scientist',
 'Project Lead - Advanced Analytics/Data Science',
 'Data Analyst (Remote)',
 'CIB - Data Scientist',
 'Geospatial Software Developer and Data Scientist',
 'Data Analyst Mid or Senior',
 'X-Ray Research Scientist',
 'Data Engineer - AWS / Redshift',
 'Data Scientist (FULLY REMOTE. REQUIRED: Spark, SQL, Azure Data Bricks)',
 'Data Scientist/Lead Data Scientist',
 'Principal Scientist, Chemical Development',
 'Senior Operations Research Scientist',
 'Data Engineer with Security Clearance',
 'Cloud Data Engineer - Solution Specialist - USDC',
 'SQL Data Engineer',
 'Geologist or Environmental Scientist - Entry Level',
 'Health Analytics Data Scientist',
 'Quantitative Research Analyst Internship',
 'Data Scientist I',
 'Research Scientist - Data Science (Earth & Atmospheric Sciences)',
 'Sr. BI Data Engineer III',
 'Data Scientists Modeling',
 'Data Scientist, Research & Development',
 'Research Scientist Sr- RI Deans',
 'Senior Data Scientist - R&D Oncology',
 'Senior Thermal Modeling Engineer(Relocation to Phoenix, AZ)',
 'Billingual Chinese - Data Analyst',
 'System Integration Scientist',
 'Staff Reliability Data Scientist',
 'Sr. Principal Metrics Analyst- Data Scientist',
 'Research Scientist/Senior Scientist',
 'Survey Data Analyst',
 'Process Development Downstream Sr. Scientist',
 'ASW Systems and MBSE Engineering Scientist Associate',
 'Principal Scientist, Antibody and ADC Engineering',
 'Financial Data Analyst',
 'Data Scientist - Machine Learning/Cortex Data Science',
 'Measurement Scientist',
 'Data Analyst, Trust & Safety',
 'Medical Lab Tech / Medical Lab Scientist - Lab - Mercy Sylvania - Full Time Nights',
 'o Vice President, Chief Data Scientist, US Insurance & Retirement',
 'Business Analyst/Data Consultant',
 'Sr. Associate Scientist / Scientist I, Protein Engineering',
 'Data Analytics Manager',
 'Pricing Data Analyst',
 'Data Scientist (Financial Transactions)',
 'IRIS Data Analyst',
 'Quantitative Researcher – PhD Hire',
 'Field Appl Scientist I',
 'Data Scientist in Neuroscience and Bioinformatics, CAS, Biology',
 'Data Scientist/Machine Learning Specialist',
 'Data Analyst (Charlotte, NC / Des Moines, IA / Dallas, TX / Phoenix, AZ)',
 'Research Data Scientist I',
 'Sr. Data Engineer - Dive Into Big Data & Get Plenty of PTO',
 'SRO BI & Analytics Manager',
 'Technical Data Analyst Accounting',
 'Clinical Research Data Specialist II',
 'Medical Laboratory Scientist (MLS)',
 'Data Scientist, International (bilingual)',
 'Data Scientist, Global Business Operations (Remote)',
 'Search Data Scientist, Apple Media Products',
 'Information Security Data Scientist',
 'Scientist - Ophthalmology',
 'Data Scientist, Engagement & Retention Analytics',
 'Business Intelligence Analyst I, Decision Support Services',
 'Sr Data Engineer (DBA)',
 'Data Scientist (Research & Development)',
 'Valuation & Business Analytics Manager',
 'Azure Data Engineer@Houston, TX',
 'Pricing Data Scientist',
 'Data Analyst - LA',
 'Data Scientist - Relocate to Washington D.C.',
 'Fleet Optimization Data Analyst (Solar + Storage)',
 'Clinical Scientist, Haem Onc (Director level)',
 'Data Analyst Healthcare - Experienced or Entry Level',
 'Principal Data ScientistFoundational Algorithm CRM Email',
 'Scientist IV, Formulation Pharmaceutics',
 'Data Analyst- Remote',
 'Senior Scientist, Neuroscience',
 'Business Intelligence Analyst I - Finance - Decision Support Systems',
 'Field Application Scientist - Mid-Atlantic',
 'Data Management - Clinical Data Scientist',
 'Senior Scientist - Computational Biology',
 'Bench Scientist',
 'Sr. Scientist',
 'SCIENTIST - LC , CE , ELISA , BIOLOGICS',
 'Principal Scientist, HEOR',
 'Quantitative Analyst - Asset Allocation Analyst',
 'Senior Data Scientist - Omnichannel & HCP',
 'Post Doctoral Scientist Yr 1-3- Research Gene Therapy',
 'Senior Business Intelligence Analyst',
 'Data Scientist - Data Intelligence Engineer',
 'Medical Laboratory Scientist Core Lab Weekend Nights',
 'Associate Scientist In vivo Pharmacology',
 'Head of Data Science, Insights, & Analytics Job Description',
 'Statistical Modeling & Forecasting Scientist',
 'Medical Laboratory Scientist Micro Lab Days',
 'Data Engineer Associate',
 'Assistant, Associate, or Full Research Scientist (FY 19-20)',
 'Director, Network Optimization & Data Sciences',
 'Data Scientist, Supply Chain',
 'Predictive Modeling - Data Scientist',
 'Technical Applications Scientist',
 'IGNITE Graduate Development Program - Application Developer / Data Scientist / Business Analyst',
 'Data Engineer, Senior',
 'Senior Scientist, Molecular Diagnostics',
 'Data Scientist II - FRM Analytics & Reporting',
 'Business Data Scientist',
 'Cybersecurity Engineer - Analytics and Data Science',
 'Data Scientist, SBG',
 'Lead Data Engineer/Architect',
 'Business Intelligence Analyst - North Dallas, TX - Mortgage',
 'Data Scientist- Payments',
 'Big Data Engineer',
 'Data Science - Analyst/Associate - Security Incident Response Team',
 'Machine Learning Engineer (Ops)',
 '(100% remote) Sr Data Scientist',
 'Data Analyst - Inventory Management',
 'Financial Quantitative Analyst',
 'Microsoft Analytics Consultant',
 'Data Integration Architect',
 'Senior Associate Scientist, Biophysical Screening',
 'Scientist 1 - Biology/Microbiology--Rodent Handling',
 'Senior Data Scientist - Manufacturing and Supply Chain',
 'Senior Developer - Data Engineer |',
 'Principal Scientist Product Formulation',
 'Korean Bilingual Data Engineer',
 'Chandler Data Science Tutor Jobs',
 'Clinical Lab Scientist - Clinical Laboratory',
 'Product Manager, Product Data',
 '103: Junior Data Engineer (Long Term Contract)',
 'Cloud Data Solution Architect',
 'Sr. Data Scientist/Data Engineer, AI (Tech Delivery Lead) – New York, NY/Dallas, TX',
 'CBO Data Analyst',
 'eCommerce Analytics Manager',
 'Data Science Sr. Analyst',
 'Senior Data Analyst - Abbott Nutrition - Columbus, OH',
 'Marketing Data Scientist Consultant',
 'Senior Data Scientist with Extensive Industrial Experience',
 'East Field Application Scientist Bio-therapeutics/Microfluidics',
 'Scientific Consultant / Data Scientist',
 'Computer Scientist (Public Flyer Notice)',
 'Data Scientist I Seller Development',
 'Healthcare Data Analyst',
 'Austin Data Science Tutor Jobs',
 'Clinical Laboratory Scientist Data Review',
 'Data Scientist RED - DAB',
 'Machine Learning Engineer/Scientist',
 'Clinical Lab Scientist (CLS)',
 'Electronics Engineer/Computer Scientist',
 'Data Scientist (Global Data and Analytics)',
 'Data Scientist, Product Analytics - Ads Ranking',
 'Scientist IV, Discovery Toxicology',
 'Director of Data Science, Safe Haven',
 'Remote Machine Learning Engineer',
 'Data Scientist – Fleet Analytics',
 'Data Scientist, Life Solutions',
 'Principal Scientist, Data Science',
 'Data Analyst, Revenue Operations',
 'Machine Learning Engineer, Computer Vision',
 'Lead Quantitative Analyst',
 'Full Stack Data Engineer Irving AVP/C12',
 'Big Data/Machine Learning Engineer',
 'Data Analyst & Healthcare Analytics',
 'Hadoop Data Engineer',
 'Data Scientist Associate',
 'Space Photovoltaic and Energy Technology Scientist',
 'Full Stack Data Scientist Intern - Fall',
 'Assistant Research Scientist',
 'Quantitative Analyst – Model Validation',
 'Senior Claims Data Analyst',
 'Senior Data Scientist (Remote)',
 'Computer Research Scientist',
 'Data Engineer/Scientist',
 'Clinical Data Analyst',
 'Simulation Data Analyst',
 'Software Engineer - Data Platform',
 'Sr. Computational Biologist, Oncology Drug Discovery',
 'COMPUTER SCIENTIST - ENGINEER - PERCEPTION SYSTEMS',
 'Jacksonville Data Science Tutor Jobs',
 'Bioprocess Scientist/Senior Bioprocess Scientist',
 'Data Engineer -- Austin, TX -- 6 Months+ Contract',
 'Deep Learning Engineer, Data Scientist - Video Computer Vision',
 'Data Scientist Applied Machine Learning',
 'Quantitative Researcher – Intern',
 'Data Engineer, Ad Technology',
 'Data Analyst - Clearance Required',
 'Manager, Data Science - HBO Max',
 'VP -- US Consumer Digital Prospecting Data Scientist',
 'Lead Data Scientist-NLP Expert',
 'Data Scientist, Analytics & Insights',
 'Data Analyst Junior',
 'Data Analyst-Business Information Specialist',
 'Data Analyst (Kronos) - Ohio Location Only',

In [ ]:
len(set(df['Job Title']))

2552

In [ ]:
df.to_csv('my_dataframe2.csv')