<a href="https://colab.research.google.com/github/Azzziii/Rubikamp-Data-Science-Course/blob/main/week09_RK_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [2]:
#uploaded = files.upload()

In [3]:
import requests
import pickle

# URL of the pickled file
url = 'https://github.com/Azzziii/Rubikamp-Data-Science-Course/raw/main/Salary_Estimater.pkl'

# Download the file
response = requests.get(url)
with open('Salary_Estimater.pkl', 'wb') as file:
    file.write(response.content)

# Load the pickled file
with open('Salary_Estimater.pkl', 'rb') as file:
    model_pk = pickle.load(file)

In [4]:
import pandas as pd

In [5]:
#model_pk = pickle.load(open('Salary_Estimater.pkl','rb'))

In [6]:
my_sample = {'Rating':3.5 ,  'Job Title_analyst':0,
       'Job Title_data engineer':0, 'Job Title_data scientist':1,
       'Job Title_deep learning engineer':0, 'Job Title_director':0,
       'Job Title_machine learning engineer':0, 'Job Title_manager':0,
       'Job Title_other':0, 'Job Title_researcher':0, 'State_AZ':1, 'State_CA':0,
       'State_DC':0, 'State_DE':0, 'State_FL':0, 'State_GA':0, 'State_IL':0, 'State_IN':0,
       'State_KY':0, 'State_MA':0, 'State_MD':0, 'State_ME':0, 'State_MI':0, 'State_NC':0,
       'State_NH':0, 'State_NJ':0, 'State_NM':0, 'State_NY':0, 'State_OH':0, 'State_PA':0,
       'State_TX':0, 'State_VA':0, 'State_WI':0}

In [7]:
my_sample = pd.DataFrame([my_sample])

In [8]:
my_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 33 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Rating                               1 non-null      float64
 1   Job Title_analyst                    1 non-null      int64
 2   Job Title_data engineer              1 non-null      int64
 3   Job Title_data scientist             1 non-null      int64
 4   Job Title_deep learning engineer     1 non-null      int64
 5   Job Title_director                   1 non-null      int64
 6   Job Title_machine learning engineer  1 non-null      int64
 7   Job Title_manager                    1 non-null      int64
 8   Job Title_other                      1 non-null      int64
 9   Job Title_researcher                 1 non-null      int64
 10  State_AZ                             1 non-null      int64
 11  State_CA                             1 non-null      int64
 12  State_DC                             1 non-null      int64
 13  State_DE                             1 non-null      int64
 14  State_FL                             1 non-null      int64
 15  State_GA                             1 non-null      int64
 16  State_IL                             1 non-null      int64
 17  State_IN                             1 non-null      int64
 18  State_KY                             1 non-null      int64
 19  State_MA                             1 non-null      int64
 20  State_MD                             1 non-null      int64
 21  State_ME                             1 non-null      int64
 22  State_MI                             1 non-null      int64
 23  State_NC                             1 non-null      int64
 24  State_NH                             1 non-null      int64
 25  State_NJ                             1 non-null      int64
 26  State_NM                             1 non-null      int64
 27  State_NY                             1 non-null      int64
 28  State_OH                             1 non-null      int64
 29  State_PA                             1 non-null      int64
 30  State_TX                             1 non-null      int64
 31  State_VA                             1 non-null      int64
 32  State_WI                             1 non-null      int64
dtypes: float64(1), int64(32)
memory usage: 392.0 bytes

In [9]:
model_pk.predict(my_sample)

array([106.71875])