<a href="https://colab.research.google.com/github/Azzziii/Rubikamp-Data-Science-Course/blob/main/week04_RK_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def greet():
  print('Hello World!')

In [2]:
greet()

Hello World!

In [3]:
def info(name, family):
  print (name+' '+family)

In [4]:
info('Azam', 'Soltanshah')

Azam Soltanshah

In [5]:
def square(num):
  result = num * num
  return(result)

In [6]:
square(5)

25

In [7]:
def sum(num1, num2):
  sum = num1 + num2
  return (sum)

In [8]:
sum(4, 7)

11

In [9]:
def sum(num1, num2):
  sum = num1 + num2
  print ('Sum of two:', sum)

In [10]:
sum(4, 7)

Sum of two: 11

In [11]:
# from google.colab import files
# uploaded = files.upload()

In [12]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Azzziii/Rubikamp-Data-Science-Course/main/df.csv')

In [13]:
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,$111K-$181K (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,$111K-$181K (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",$111K-$181K (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
5887,Manufacturing Data Analyst Engineer,$42K - $76K (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable
5888,Data Scientist,-1,4.9,Bluetree Network\n4.9,"Madison, WI",-1,-1,-1,-1,-1,-1
5889,Supply Chain Consultant - Data Scientist,-1,4.0,"Kimberly-Clark Corporation, LLC\n4.0","Neenah, WI",10000+ Employees,1872,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD)
5890,Data Science Engineer,-1,4.0,AE Business Solutions\n4.0,"Madison, WI",51 to 200 Employees,1949,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD)
5891,Data Scientist/ Full Stack Developer,$65 - $72 Per Hour,3.7,Epitec\n3.7,"Wisconsin, WI",1001 to 5000 Employees,1978,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD)

In [14]:
df['Salary Estimate'][0].replace('$', ' ')

' 111K- 181K (Glassdoor est.)'

In [15]:
def dollors_remover(a):
  a = a.replace('$', ' ')
  return a

In [16]:
dollors_remover(df['Salary Estimate'][0])

' 111K- 181K (Glassdoor est.)'

In [17]:
dollors_remover('fh$wb$h48$$99kd')

'fh wb h48  99kd'

In [18]:
dollors_remover('465$')

'465 '

In [19]:
dollors_remover('Azam Soltanshah')

'Azam Soltanshah'

In [20]:
df['Salary Estimate'].apply(dollors_remover)

0        111K- 181K (Glassdoor est.)
1        111K- 181K (Glassdoor est.)
2        111K- 181K (Glassdoor est.)
3        111K- 181K (Glassdoor est.)
4        111K- 181K (Glassdoor est.)
                    ...
5887     42K -  76K (Glassdoor est.)
5888                              -1
5889                              -1
5890                              -1
5891               65 -  72 Per Hour
Name: Salary Estimate, Length: 5892, dtype: object

In [21]:
df['Salary Estimate'] = df['Salary Estimate'].apply(dollors_remover)

In [22]:
def k_remover(a):
  a = a.replace('K' , ' ')
  return a

In [23]:
k_remover(df['Salary Estimate'][0])

' 111 - 181  (Glassdoor est.)'

In [24]:
df['Salary Estimate'] = df['Salary Estimate'].apply(k_remover)

In [25]:
df['Salary Estimate']

0        111 - 181  (Glassdoor est.)
1        111 - 181  (Glassdoor est.)
2        111 - 181  (Glassdoor est.)
3        111 - 181  (Glassdoor est.)
4        111 - 181  (Glassdoor est.)
                    ...
5887     42  -  76  (Glassdoor est.)
5888                              -1
5889                              -1
5890                              -1
5891               65 -  72 Per Hour
Name: Salary Estimate, Length: 5892, dtype: object

In [26]:
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,111 - 181 (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",111 - 181 (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,111 - 181 (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,111 - 181 (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",111 - 181 (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
5887,Manufacturing Data Analyst Engineer,42 - 76 (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable
5888,Data Scientist,-1,4.9,Bluetree Network\n4.9,"Madison, WI",-1,-1,-1,-1,-1,-1
5889,Supply Chain Consultant - Data Scientist,-1,4.0,"Kimberly-Clark Corporation, LLC\n4.0","Neenah, WI",10000+ Employees,1872,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD)
5890,Data Science Engineer,-1,4.0,AE Business Solutions\n4.0,"Madison, WI",51 to 200 Employees,1949,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD)
5891,Data Scientist/ Full Stack Developer,65 - 72 Per Hour,3.7,Epitec\n3.7,"Wisconsin, WI",1001 to 5000 Employees,1978,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD)

In [27]:
df[df['Salary Estimate'] != '-1']

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,111 - 181 (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",111 - 181 (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,111 - 181 (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,111 - 181 (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",111 - 181 (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
5882,Supervisory Research Health Scientist,47 - 89 (Glassdoor est.),4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5883,Senior SAS Programmer (Scientist),66 - 113 (Glassdoor est.),4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5886,Senior Data Analyst - Product Analytics (open ...,67 - 111 (Glassdoor est.),4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5887,Manufacturing Data Analyst Engineer,42 - 76 (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable
5891,Data Scientist/ Full Stack Developer,65 - 72 Per Hour,3.7,Epitec\n3.7,"Wisconsin, WI",1001 to 5000 Employees,1978,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD)

In [28]:
df = df[df['Salary Estimate'] != '-1']

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5526 entries, 0 to 5891
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5526 non-null   object
 1   Salary Estimate    5526 non-null   object
 2   Rating             5526 non-null   float64
 3   Company Name       5526 non-null   object
 4   Location           5526 non-null   object
 5   Size               5526 non-null   object
 6   Founded            5526 non-null   object
 7   Type of ownership  5526 non-null   object
 8   Industry           5526 non-null   object
 9   Sector             5526 non-null   object
 10  Revenue            5526 non-null   object
dtypes: float64(1), object(10)
memory usage: 518.1+ KB

In [30]:
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,111 - 181 (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",111 - 181 (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,111 - 181 (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,111 - 181 (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",111 - 181 (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
5882,Supervisory Research Health Scientist,47 - 89 (Glassdoor est.),4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5883,Senior SAS Programmer (Scientist),66 - 113 (Glassdoor est.),4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5886,Senior Data Analyst - Product Analytics (open ...,67 - 111 (Glassdoor est.),4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5887,Manufacturing Data Analyst Engineer,42 - 76 (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable
5891,Data Scientist/ Full Stack Developer,65 - 72 Per Hour,3.7,Epitec\n3.7,"Wisconsin, WI",1001 to 5000 Employees,1978,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD)

In [31]:
df['Salary Estimate'].str.contains('Per Hour')

0       False
1       False
2       False
3       False
4       False
        ...
5882    False
5883    False
5886    False
5887    False
5891     True
Name: Salary Estimate, Length: 5526, dtype: bool

In [32]:
len(df[df['Salary Estimate'].str.contains('Per Hour')])

26

In [33]:
df[~df['Salary Estimate'].str.contains('Per Hour')]

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,111 - 181 (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",111 - 181 (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,111 - 181 (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,111 - 181 (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",111 - 181 (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
5881,Information Scientist,38 - 64 (Glassdoor est.),3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
5882,Supervisory Research Health Scientist,47 - 89 (Glassdoor est.),4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5883,Senior SAS Programmer (Scientist),66 - 113 (Glassdoor est.),4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5886,Senior Data Analyst - Product Analytics (open ...,67 - 111 (Glassdoor est.),4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5887,Manufacturing Data Analyst Engineer,42 - 76 (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable

In [34]:
df = df[~df['Salary Estimate'].str.contains('Per Hour')]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5500 entries, 0 to 5887
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5500 non-null   object
 1   Salary Estimate    5500 non-null   object
 2   Rating             5500 non-null   float64
 3   Company Name       5500 non-null   object
 4   Location           5500 non-null   object
 5   Size               5500 non-null   object
 6   Founded            5500 non-null   object
 7   Type of ownership  5500 non-null   object
 8   Industry           5500 non-null   object
 9   Sector             5500 non-null   object
 10  Revenue            5500 non-null   object
dtypes: float64(1), object(10)
memory usage: 515.6+ KB

In [36]:
text = 'Azam Soltanshah'

In [37]:
text.split()

['Azam', 'Soltanshah']

In [38]:
text.split()[0]

'Azam'

In [39]:
text.split()[1]

'Soltanshah'

In [40]:
df['Salary Estimate'][0]

' 111 - 181  (Glassdoor est.)'

In [41]:
df['Salary Estimate'][0].split()

['111', '-', '181', '(Glassdoor', 'est.)']

In [42]:
df['Salary Estimate'][0].split()[0]

'111'

In [43]:
df['Salary Estimate'][0].split()[2]

'181'

In [47]:
df['Salary Estimate'][2981].split()

['200', '-', '250', '(Employer', 'est.)']